.add-cell {
    position: relative;
    margin: 8px 0;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.1s;
}

.force-visible.add-cell{
    opacity: 1;
}

.add-cell .divider {
    position: absolute;
    top: 50%;
    bottom: 50%;
    border-bottom: 1px solid gray;
    width: 90%;
    right: 3%;
    left: 3%;
    z-index: -1;
}

.add-cell .add-buttons {
    display: flex;
    justify-content: center;
}

.add-cell .add-buttons button {
    margin: 0 40px;
}

.add-cell:hover {
    opacity: 1;
}